casttube==0.2.1
catt==0.12.0
certifi==2022.12.7
chardet==4.0.0
click==7.1.2
idna==2.10
ifaddr==0.1.7
protobuf==3.14.0
PyChromecast==7.7.2
requests==2.25.1
six==1.15.0
urllib3==1.26.2
youtube-dl==2021.1.16
youtube-search-python==1.3.6
zeroconf==0.28.8
